
.my-card{
    box-shadow: var(--shadow);
    min-width: 400px;
    font-family: 'Montserrat', sans-serif;
    margin:1rem;
    border-radius: 0.5rem;
    flex:1;
}
.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    gap:16px;
}

.my-card p{
    margin: 0;
}
/*  row and card padding */
.ant-card-body{
    padding: 15px 12px !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}
.ant-card-head{
    padding-left:12px !important;
    padding-right:10px !important;
}
.ant-card-head-title{
    font-weight: 600;
}