
.navBar{
    background-color: var(--theme);
    width:100%;
    padding: 1rem 1.5rem;

    position:sticky;
    z-index: 2;
    top:0;
    left:0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}
.link{
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s;
}
.link:hover{
    opacity: 1;
}