.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 90vh;
}

/* css for pie chart and column chart */
canvas{
  height:inherit !important;
  width: inherit !important;
}
